data/testContenuCDA_20171206_v1.3.12/schematrons/include/sections/entries/AVC_Avancement20160801.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="AVC_Avancement" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_AVC_Avancement"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation/cda:value[@code='AVC-264']"/>
    <param name="nullFlavor" value="0"/>
</pattern> 