data/testContenuCDA_20171206_v1.3.12/schematrons/include/sections/entries/D2LM_TypeLecture20160831.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="D2LM_TypeLecture" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_D2LM_TypeLecture"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation[(cda:code/@code='MED-008')]/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
