data/testContenuCDA_20171206_v1.3.12/schematrons/include/sections/entries/D2LM_TypeMammographie20160901.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="D2LM_TypeMammographie" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_D2LM_TypeMammographie"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/text/content"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:text/cda:content[@ID='TypeMammo']"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
