data/testContenuCDA_20171206_v1.3.12/schematrons/include/sections/entries/SDMMR_ContexteActivite20170307.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="SDMMR_ContexteActivite" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_ContexteActivite"/>
    <param name="vue_elt" value="ClinicalDocument/documentationOf/serviceEvent/code"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:documentationOf/cda:serviceEvent/cda:code"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
