src/main/scala/xsd/schematrons/include/sections/entries/AVC_Juridique20160801.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="AVC_Juridique" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_AVC_Juridique"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/code"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation/cda:value[@code='AVC-278']"/>
    <param name="nullFlavor" value="0"/>
</pattern>   