src/main/scala/xsd/schematrons/include/sections/entries/AVC_NIHSSLangInt20131025.sch

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    AVC_NIHSSLangInt20131025.sch :
    Contenu :
    Paramètres d'appel : Néant 
    Historique :
        25/10/2013 : CRI : Création
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="AVC_NIHSSLangInt" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_AVC_NIHSSLangInt"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/entryRelationship/observation/interpretationCode"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation/cda:entryRelationship/cda:observation
        [cda:code/@code='70194-6']/cda:interpretationCode"/>
    <param name="nullFlavor" value="0"/>
</pattern>   

<!-- 


	 
	
	
	
	et 	
	et 	
	
	
	
70195-3	AVC_NIHSSDysInt
-->