src/main/scala/xsd/schematrons/include/sections/entries/D2LM_ConduiteATenir_1_20160901.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="D2LM_ConduiteATenir_1" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$jdv_D2LM_ConduiteATenir_1"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/value"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:observation[cda:code[@code='GEN-007']/cda:qualifier/cda:name/@code='P5-B0000']/cda:value"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
