src/main/scala/xsd/schematrons/include/sections/entries/DateTimeOfDeath20160809.sch

<?xml version="1.0" encoding="UTF-8"?>

<!--                  -=<<o#%@O[ DateTimeOfDeath20160809.sch ]O@%#o>>=-
    
    Teste la conformité de la section " IHE PCC Date Time Of Death" (2.16.840.1.113883.10.20.26.1.13)
    aux spécifications d'IHE PCC v3.0
    
    Historique :
    09/08/2016 : NMI : Création
    
-->

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="dateTimeOfDeath-errors">
    <title>IHE PCC Date Time Of Death" (2.16.840.1.113883.10.20.26.1.13)</title>
    <rule context="*[cda:templateId/@root=&quot;2.16.840.1.113883.10.20.26.1.13&quot;]">
        
    </rule>
    
    
</pattern>
