src/main/scala/xsd/schematrons/include/sections/entries/JDV_CheckListFLUDR_DLU.sch

<?xml version="1.0" encoding="UTF-8"?>

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="JDV_CheckListFLUDR_DLU" is-a="dansJeuDeValeurs">
    <param name="path_jdv" value="$JDV_CheckListFLUDR_DLU"/>
    <param name="vue_elt" value="ClinicalDocument/component/structuredBody/component/section/entry/observation/code"/>
    <param name="xpath_elt" value="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:entry/cda:organizer[cda:templateId[@root='1.2.250.1.213.1.1.3.18']]/cda:component/cda:observation/cda:code[@code]"/>
    <param name="nullFlavor" value="0"/>
</pattern>   
